<div id="transfer-container">
    <form method="post" action="/transfer" onsubmit="return(validate());">
        <ul>

            <li>
                <div class="input-box">
                    <strong>To</strong>
                    <input/>
                    <select onchange="updateSelectedAddress(this)">
                        <option value="">Select a buddy</option>
                        <% if (typeof buddies !== 'undefined') { %>
                            <% for (var i = 0; i < buddies.length; i++) { %>
                                <option value="<%= buddies[i].address %>"><%= buddies[i].displayName %></option>
                            <% } %>
                        <% } %>
                    </select>
                    <span></span>
                </div>
            </li>

            <li>
                <div class="input-box">
                    <strong>Address</strong>
                    <input name="destAddress" id="to-address" type="text" readonly value="" />
                    <span></span>
                </div>
            </li>


            <li>
                <div class="input-box">
                    <strong>Amount</strong>
                    <input name='transferAmount' onfocusout="checkMax(this)" type='number' step="1" min="1" max="<%= dacseetoken %>" value="0" />
                    <span>Token</span>
                </div>
            </li>

            <li>
                <div class="input-box">
                    <strong>Gas limit</strong>
                    <input name='gasLimit' onchange="calFee(this)" onkeyup="calFee(this)" type='number' step="1" min="60000" value="60000" />
                    <span>Units</span>
                </div>
            </li>

            <li>
                <div class="input-box">
                    <strong>Balance</strong>
                    <input type='number' readonly value='<%= etherbalance %>' />
                    <span>Eth</span></div>
            </li>

            <li>
                <div class="input-box">
                    <strong>Est. Fee</strong>
                    <input id='estfee' type='number' readonly value='<%= (60000 / gasPrice) %>' />
                    <span>Eth</span></div>
            </li>

            <li>
                <ul>
                    <li>
                        <input type="submit" value="Confirm" />
                    </li>
                    <li>
                        <input type="button" value="Clear" />
                    </li>
                </ul>
            </li>

        </ul>
    </form>
</div>
<script type="text/javascript">
    function updateSelectedAddress(e) {
        var address = e.options[e.selectedIndex].value;
        document.getElementById("to-address").value = address;
    }

    function calFee(x) {
        document.getElementById("estfee").value = x.value / <%= gasPrice %>;
    }

    function checkMax(e) {
        if (e.value > <%= dacseetoken %>) {
            e.value = <%= dacseetoken %>;
        }
    }

    function validate() {
        if (document.getElementById("estfee").value < <%= etherbalance %>) {
            return true;
        }
        alert('Insufficient balance for transaction');
        return false;
    }

</script>
